<div class="container__big-card">
  <div class="big-card__photo">
  <img src="https://sm.ign.com/t/ign_latam/screenshot/default/jujutsu-kaisen-final-manga2023_2dta.1280.jpg"
   alt="" height="200px" >
  </div>

  <div class="big-card__title">
  <h1><a href="#">Saiu a nova versão do Angular </a></h1>
  </div>

  <div class="big-card__description">

  <p>
    <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est sit amet purus lacinia suscipit. Nulla blandit arcu nibh, ac facilisis augue pretium non. Nam malesuada interdum maximus. Vivamus magna nibh, ultricies at nisl et, condimentum placerat diam. Vestibulum sit amet tempor lacus, sed euismod risus. Nam interdum, nisi quis tempor viverra, felis risus efficitur augue, vitae tincidunt lacus nisl ut lorem.
  </a>
  </p>

  </div>
</div>
